<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "mybatis-3-mapper.dtd" >
<mapper namespace="cn.smbms.dao.user.UserMapper">
      <!--登陆  -->
      <select id="login" resultType="user" parameterType="string">
          select * from smbms_user where userCode=#{userCode} 
          and userPassword=#{userPassword}
      </select>
      <!--修改  -->
      <update id="updatePwd">
             update smbms_user set userPassword=#{userPassword} where id=#{id}
      </update>
      <!--通过条件查询-userList  -->
      <select id="getUserList" resultMap="userList">
        select  u.*,r.roleName ,YEAR(NOW())- YEAR(u.birthday) AS age from smbms_user u,smbms_role r
        where  u.userRole=r.id
        <if test="userName!= null and userName !=''">
           and  userName like CONCAT('%',#{userName},'%')
        </if>
        <if test="userRole!=0">
           and userRole=#{userRole}
        </if>
           limit #{currentPageNo},#{pageSize}
       </select>
        <resultMap id="userList" type="user">
         <result property="id" column="id"/>
         <result property="userCode" column="userCode"/>
         <result property="userName" column="userName"/>
         <result property="gender" column="gender"/>
         <result property="age" column="age"/>
         <result property="phone" column="phone"/>
         <result property="userRoleName" column="roleName"/>
     </resultMap>
    <!--通过条件查询-用户表记录数 -->
      <select id="getUserCount" resultType="int" >
        select count(*) from smbms_user u,smbms_role r
        where  u.userRole=r.id
        <if test="userName!= null and userName !=''">
           and  userName like CONCAT('%',#{userName},'%')
        </if>
        <if test="userRole!=0">
           and userRole=#{userRole}
        </if> 
       </select>
       <!--查看个人信息  -->
       <select id="getUserById" resultMap="user" parameterType="string">
          
           SELECT u.*,r.roleName FROM smbms_user AS u JOIN smbms_role AS r ON (u.userRole=r.id) WHERE u.id=#{id}
       </select>
        <resultMap id="user" type="User">
         <result property="userRoleName" column="roleName"/>
     </resultMap>
       <!--删除  -->
       <delete id="deleteUserById" parameterType="Integer">
            delete from smbms_user where id=#{id}
       </delete>
       <select id="getLoginUser" resultType="user" parameterType="string">
           select *from smbms_user where userCode=#{userCode}
       </select>
       <!--修改  -->
        <update id="modify" parameterType="user">
       update smbms_user 
       <trim prefix="set" suffixOverrides="," suffix="where id=#{id}">
         <if test="userName!=null">userName=#{userName},</if>
         <if test="gender!=null">gender=#{gender},</if>
         <if test="birthday!=null">birthday=#{birthday},</if>
         <if test="phone!=null">phone=#{phone},</if>
         <if test="address!=null">address=#{address},</if>
         <if test="userRole!=null">userRole=#{userRole},</if>
         <if test="modifyBy!=null">modifyBy=#{modifyBy},</if>
         <if test="modifyDate!=null">modifyDate=#{modifyDate},</if>
       </trim>
     </update>
     <!--添加  -->
      <insert id="add" parameterType="user">
       insert into smbms_user(userCode,userName,userPassword,gender,birthday,phone,address,userRole,idPicPath,workPicPath,totalpath,totalpaths
       ,createdBy,creationDate) values(#{userCode},#{userName},#{userPassword},#{gender},#{birthday}
       ,#{phone},#{address},#{userRole},#{idPicPath},#{workPicPath},#{totalpath},#{totalpaths},#{createdBy},#{creationDate})
     </insert>
</mapper>
